<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamup.demo.classManage.mapper.ClassMapper">
    <insert id="addClass" parameterType="com.teamup.demo.classManage.entity.Class" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into public.class ("user", "invCode","name")
        values (#{user}, #{invCode}, #{name})
    </insert>
    <select id="getClassByTea" resultType="com.teamup.demo.classManage.entity.Class">
        select * from public.class where "user" = #{user};
    </select>
    <select id="getClassByStu" resultType="com.teamup.demo.classManage.entity.Class">
        select * from public.class
        where "id" in (select "id" from public."classInfo" where "user" = #{user} )
    </select>
    <select id="getStuByClass" resultType="com.teamup.demo.userManage.entity.Student">
        select * from public.student where "user" in
        (select "user" from public."classInfo"
        where "id" = #{classId} ) order by -"id" desc
    </select>
    <select id="getClassById" resultType="com.teamup.demo.classManage.entity.Class">
        select * from public.class where "id" = #{classId}
    </select>
    <delete id="deleteClass">
        delete from public.class where "id" in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="">
            #{item}
        </foreach>
    </delete>
    <select id="getTeaByClass" resultType="com.teamup.demo.userManage.entity.Teacher">
        select * from public.teacher
        where "user" in ( select "user" from public.class where "id" = #{classId} )
    </select>
    <update id="updateClassInf" parameterType="com.teamup.demo.classManage.entity.ClassInf">
        update public."classInfo" set "user"=#{classInf.user} where "userId" = #{classInf.userId};
    </update>
    <insert id="joinClass" parameterType="java.util.List">
        insert into public."classInfo" ("id", "user", "userId" )
        values
        <foreach collection="list" index="" item="item" separator=",">
            (#{item.id}, #{item.user}, #{item.userId})
        </foreach>
    </insert>
    <select id="codeIsExist" resultType="int">
        select "id" from public.class where "invCode"=#{invCode}
    </select>
    <update id="setAnnouncement">
        update public.class set announcement = #{text} where "id" = #{classId}
    </update>
</mapper>