<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.teamup.demo.mapper.CodeMapper">
    <insert id="addCode" parameterType="com.teamup.demo.entity.MailCode" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into
            captcha(user,sendType,code,sendTime)
        values(#{user},#{sendType},#{code},#{sendTime})
    </insert>
    <select id="findCodeByUser" resultType="String" parameterType="map">
        select code from captcha where  user = #{user} and sendTime > #{time}-5*60*1000 and sendType = 1
    </select>
</mapper>
