<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.teamup.demo.roomManage.mapper.RoomMapper">
    <select id="matchStuByLabel" parameterType="String" resultType="com.teamup.demo.userManage.entity.Student">
        select * from public.student where "user" != #{user} and label like concat('%',#{aim},'%')
    </select>
    <select id="findRoomById" resultType="com.teamup.demo.roomManage.entity.Room">
        select * from public.room where "id" = #{id};
    </select>
    <insert id="addRoom" parameterType="com.teamup.demo.roomManage.entity.Room" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        <if test="classId == 0">
            insert into public.room ( "user", "name", content, tag, teamname, "targetNum", "createTime", color )
            values (#{user}, #{name}, #{content}, #{tag}, #{teamName}, #{targetNum}, #{createTime}, #{color} )
        </if>
        <if test="classId!=0">
            insert into public.room ( "user", "name", content, tag, teamname, "targetNum", "createTime", "classId", color )
            values (#{user}, #{name}, #{content}, #{tag}, #{teamName}, #{targetNum}, #{createTime}, #{classId}, #{color} )
        </if>
    </insert>
    <select id="getRoomByClass" resultType="com.teamup.demo.roomManage.entity.Room">
        select * from public.room where "classId" = #{classId} order by "id" asc
    </select>
    <select id="getRoomPublic" resultType="com.teamup.demo.roomManage.entity.Room">
        select * from public.room where "classId" is null order by "${sort}"
        <if test="isAsc">asc </if>
        <if test="!isAsc">desc</if>
    </select>
    <select id="getRoomByTag" resultType="com.teamup.demo.roomManage.entity.Room">
        select * from public.room where tag like concat('%',#{tag},'%') and "classId" is null order by "id" asc
    </select>
    <select id="getRoomById" resultType="com.teamup.demo.roomManage.entity.Room">
        select * from public.room where "id" = #{roomId}
    </select>
    <select id="getRoomByName" resultType="com.teamup.demo.roomManage.entity.Room">
        select * from public.room where name like concat('%',#{name},'%') and "classId" is null order by "id" asc
    </select>
    <select id="getRoomByUser" resultType="com.teamup.demo.roomManage.entity.Room">
        select * from public.room where "id" in (select "roomId" from public."roomInf" where user = #{user})
    </select>
    <select id="getStuByRoom" resultType="com.teamup.demo.userManage.entity.Student">
        select * from public.student
        where "user" in ( select "user" from public."roomInf" where "roomId" = #{roomId} )
    </select>
    <insert id="addStuById">
        insert into public."roomInf" ("roomId","user")
        values (#{roomId},#{user})
    </insert>
    <delete id="removeStuById">
        delete from public."roomInf" where "roomId" = #{roomId} and "user" = #{user}
    </delete>
    <delete id="deleteRoom">
        delete from public.room where "user" = #{user} and "id" = #{id}
    </delete>
    <update id="updateRoomById">
        update public.room set
        <foreach item="item" collection="map" separator="," open="" close="" index="key">
            <choose>
                <when test="key.indexOf('Num'.toString()) != -1 || key.indexOf('Id'.toString()) != -1">
                    "${key}" = ${item}
                </when>
                <otherwise>
                    "${key}" = #{item}
                </otherwise>
            </choose>
        </foreach>
        where "id" = #{id}
    </update>
    <update id="operateInvitation">
        update public.invitation set "isAgree" = #{isAgree} where "id" in
        <foreach collection="idList" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        and "user2" = #{user}
    </update>
    <insert id="addInvitation" parameterType="com.teamup.demo.roomManage.entity.Invitation">
        insert into public.invitation values (#{user1},#{user2},#{roomId},#{time},#{isStudent})
    </insert>
    <select id="getInvitation" resultType="com.teamup.demo.roomManage.entity.Invitation">
        select * from public.invitation where
        <if test="type=='send'.toString">
            user1 = #{user}
        </if>
        <if test="type=='recv'.toString">
            user2 = #{user}
        </if>
        <choose>
            <when test="tt==-1">
                and "isAgree" is null
            </when>
            <when test="tt==0">
                and "isAgree" is not null
            </when>
        </choose>
        order by "recvTime" desc,"sendTime" desc
    </select>
    <insert id="addApplication" parameterType="com.teamup.demo.roomManage.entity.ApplyRoom">
        insert into public."applyRoom" ("user","roomId","content") values
        (#{user},#{roomId},#{content})
    </insert>
    <update id="operateApplication">
        update public."applyRoom" set "isAgree" = #{isAgree} where "id" in
        <foreach collection="idList" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>
    <select id="getApplicationByRoom" resultType="com.teamup.demo.roomManage.entity.ApplyRoom">
        select * from public."applyRoom" where "roomId" = #{roomId} and "isAgree" is null
    </select>
    <select id="getApplicationNum" resultType="int">
        select count(*) from public."applyRoom" where "roomId" = #{roomId} group by "isAgree" having "isAgree" is null
    </select>
    <select id="getApplyRoomByUser" resultType="com.teamup.demo.roomManage.entity.ApplyRoom">
        select * from public."applyRoom" where "user" = #{user}
        <choose>
            <when test="tt==-1">
                and "isAgree" is null
            </when>
            <when test="tt==0">
                and "isAgree" is not null
            </when>
        </choose>
    </select>
</mapper>
