<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.teamup.demo.roomManage.mapper.RoomMapper">
    <select id="matchStuByLabel" parameterType="String" resultType="com.teamup.demo.userManage.entity.Student">
        select * from public.student where "user" != #{user} and label like concat('%',#{aim},'%')
    </select>
    <select id="findRoomById">
        select * from public.room where "id" = #{id};
    </select>
    <insert id="addRoom" parameterType="com.teamup.demo.roomManage.entity.Room" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into public.room ( "user", "name", content, tag, teamname, "targetNum", "curNum", pwd, "createTime", "classId", color, "teacherId" )
        values (#{user}, #{name}, #{content}, #{tag}, #{teamname}, #{targetNum}, #{curNum}, #{pwd}, #{createTime}, #{classId}, #{color}, #{teacherId} )
    </insert>
    <select id="getRoomByClass" resultType="com.teamup.demo.roomManage.entity.Room">
        select * from public.room where "classId" = #{classId} order by "id" asc
    </select>
    <select id="getRoomPublic" resultType="com.teamup.demo.roomManage.entity.Room">
        select * from public.room where "classId" is null order by "${sort}"
        <if test="isAsc">asc </if>
        <if test="!isAsc">desc</if>
    </select>
    <select id="getRoomByTag" resultType="com.teamup.demo.roomManage.entity.Room">
        select * from public.room where tag like concat('%',#{tag},'%') order by "id" asc
    </select>
    <select id="getRoomByName" resultType="com.teamup.demo.roomManage.entity.Room">
        select * from public.room where name like concat('%',#{name},'%') order by "id" asc
    </select>
    <select id="getStuByRoom" resultType="com.teamup.demo.roomManage.entity.Room">
        select * from public.student
        where "user" in ( select "user" from public."roomInf" where "roomId" = #{roomId} )
    </select>
    <insert id="addStuById">
        insert into public."roomInf" ("roomId","user")
        values (#{roomId},#{user})
    </insert>
    <delete id="removeStuById">
        delete from public."roomInf" where "roomId" = #{roomId} and "user" = #{user}
    </delete>
    <delete id="deleteRoom">
        delete from public.room where "user" = #{user} and "id" = #{id}
    </delete>
    <update id="updateRoomById">
        update public.room set
        <foreach item="item" collection="map" separator="," open="" close="" index="key">
            <choose>
                <when test="key.indexOf('Num'.toString()) != -1 || key.indexOf('Id'.toString()) != -1">
                    "${key}" = ${item}
                </when>
                <otherwise>
                    "${key}" = #{item}
                </otherwise>
            </choose>
        </foreach>
        where "id" = #{id}
    </update>
    <update id="operateInvitation">
        update public.invitation set "isAgree" = #{isAgree} where "id" in
        <foreach collection="idList" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>
    <insert id="addInvitation" parameterType="com.teamup.demo.roomManage.entity.Invitation">
        insert into public.invitation values (#{user1},#{user2},#{roomId},#{time},#{isStudent})
    </insert>
    <select id="getInvitation">
        select * from public.invitation where
        <if test="type=='send'.toString">
            user1 = #{user}
        </if>
        <if test="type=='recv'.toString">
            user2 = #{user}
        </if>
        order by "recvTime" is null ,"recvTime" desc
    </select>
</mapper>
