<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.teamup.demo.teamManage.mapper.TeamMapper">
    <update id="updateTeamInfById">
        update public."teamInf" set
        <foreach item="item" collection="map" separator="," open="" close="" index="key">
            <choose>
                <when test="key.indexOf('Id'.toString()) != -1">
                    "${key}" = ${item}
                </when>
                <otherwise>
                    "${key}" = #{item}
                </otherwise>
            </choose>
        </foreach>
        where "id" = #{id}
    </update>
    <insert id="addEvaluation" parameterType="com.teamup.demo.teamManage.entity.Evaluation">
        insert into public."evaluation" values (#{user1},#{user2},#{content})
    </insert>
    <select id="getEvaluationByUser" resultType="com.teamup.demo.teamManage.entity.Evaluation">
        select * from public.evaluation where user2 = #{user}
    </select>
    <select id="getTeamByClass" resultType="com.teamup.demo.teamManage.entity.Team">
        select * from public.team where "classId" = #{classId}
    </select>
    <select id="getTeamInfByUser" resultType="com.teamup.demo.teamManage.entity.TeamInf">
        select * from public."teamInf" where "user" = #{user} order by "teamId" asc
    </select>
    <select id="getNumNeedTeam" resultType="int">
        select count(*) from public."teamInf" where "user" = #{user} and "teamId" is null group by "teamId"
    </select>
    <insert id="addTeamInf">
        insert into public."teamInf" ("classId","user","teacherId")
        (select #{classId} as "classId","user",#{teacherId} as "teacherId" from public."classInfo"
            where "id" = #{classId} and "user" is not null)
    </insert>
    <update id="dissolveTeam">
        update public.team set "dissolveTime" = now() where "teamId" = #{teamId}
    </update>
    <select id="getTeamById" resultType="com.teamup.demo.teamManage.entity.Team">
        select * from public.team where "teamId" = #{id}
    </select>
    <select id="getStuNotTeam" resultType="com.teamup.demo.userManage.entity.Student">
        select * from public.student where "user" in (select "user" from public."teamInf" where "classId" = #{classId} and "teamId" is null)
    </select>
    <select id="getDissolveTeam" resultType="com.teamup.demo.teamManage.entity.Team">
        select * from public.team where "teamId" in (select "teamId" from public."teamInf" where "user" = #{user}) and "dissolveTime" is not null
    </select>
</mapper>