* {
    padding: 0;
    margin: 0;
    text-decoration: none;

}

body {
    justify-content: space-evenly;
    overflow-x: hidden;
}

.navbar-fixed-top {
    background-color: #1a283b;
}

.teaming-area {
    align-items: center;
    display: block;
    width: 80%;
    margin-top: 50px;
    margin-left: 200px;
}

.teaming-room {
    width: 450px;
    margin: 10px;
    float: left;
}

.body-background {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-image: url('../img/background.jpg'); */
    background-color: rgb(209, 213, 219);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: .9;
    z-index: -9999;
}

.menubar {
    position: fixed;
    left: 0;
    top: 50px;
}

.shell {
    width: 200px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(17, 24, 39);
    border-radius: 5px;
    transition: .3s;
    overflow: hidden;
    opacity: 0.9;
}

.box {
    display: block;
    height: 15%;
    width: 85%;
    margin: 4px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: .3s;
    color: rgb(160, 160, 175);
}

.box i {
    font-size: 50px;
    position: absolute;
    margin: 9px 0 0 15px;
}

.box:nth-child(1)::before,
.box:nth-child(5)::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(55, 65, 81);
    position: absolute;
    bottom: -10px;
}

.box span {
    position: relative;
    top: 11px;
    left: 80px;
    font: 400 20px '';
    transition: .1s;
}

.shell:hover {
    width: 200px;
}

.box:hover {
    background-color: rgb(55, 65, 81);
}

.shell:hover span {
    opacity: 1;
}

.box:hover {
    color: #fff;
}

.shell:nth-child(2) {
    background-color: rgb(243, 244, 246);
}

.shell:nth-child(2) .box:hover {
    background-color: rgb(209, 213, 219);
    color: rgb(241, 159, 159);
}

.shell:nth-child(2) .box {
    color: #000;
}

.shell:nth-child(3) {
    background-color: rgb(49, 46, 129);
}

.shell:nth-child(3) .box:hover {
    background-color: rgb(67, 56, 202);
}

.shell:nth-child(3) .box {
    color: rgb(140, 120, 240);
}

.searchbar {
    left: 45%;
    position: absolute;
}

#create-team-btn {
    position: absolute;
    left: 40%;
    padding: 10px;
    width: 40px;
    height: 40px;
    background: none;
    border: 2px solid rgb(255, 210, 45);
    border-radius: 10px;
    box-sizing: border-box;
    font: 400 26px Comic Sans Ms;
    color: rgb(255, 210, 45);
    outline: none;
}

#create-team-btn::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    height: 20px;
    margin-left: -1.25px;
    margin-top: -10px;
    border-left: 2.5px solid;
}

#create-team-btn::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    margin-left: -10px;
    margin-top: -1.25px;
    border-top: 2.5px solid;
}

.input {
    padding: 10px;
    width: 40px;
    height: 40px;
    background: none;
    border: 2px solid rgb(255, 210, 45);
    border-radius: 10px;
    box-sizing: border-box;
    font: 400 26px Comic Sans Ms;
    color: rgba(255, 210, 45, .2);
    outline: none;
    transition: .5s;
}

#checkbox {
    display: none;
}

[for=checkbox] {
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    position: absolute;
    right: 0;
    margin: 2px;
    transition: .4s;
    background-size: cover;
    background-image: url('../img/searching.png');
}

#checkbox:checked~label {
    border-radius: 10px;
    background-size: cover;
    background-image: url('../img/close.png');
    border: 4px solid rgb(165, 158, 135);
    margin: 0 -5px;
}

#checkbox:checked~input {
    width: 300px;
    border-radius: 10px;
    margin-right: 80px;
    background-color: #272133;
    color: rgb(67, 129, 129);
}

.fonts {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 10px;
    color: rgb(67, 129, 129);
    letter-spacing: 5px;
    font: 400 26px Comic Sans Ms;
    display: flex;
}

.fonts span {
    transition: .3s;
    opacity: 0;
}

.contain {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.main {
    display: flex;
    height: 100%;
    width: 100% !important;
    margin-top: 50px;
}

.my-area .contain {
    border-radius: inherit;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.contain .my-class {
    width: 450px;
    margin: 10px;
    float: left;
}

#checkbox:checked~.fonts span {
    transition: calc(var(--i)*0.1s) .3s;
    transform: translateY(-40px);
    opacity: 1;
}

.card:hover .additional {
    width: 100%;
    border-radius: 0 5px 5px 0;
}

.card {
    width: 450px;
    height: 250px;
    background-color: #fff;
    background: linear-gradient(#f8f8f8, #fff);
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 1.5rem;
}

.card .additional {
    position: absolute;
    width: 150px;
    height: 100%;
    background: linear-gradient(#dE685E, #EE786E);
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;
}

.card .additional .user-card {
    width: 150px;
    height: 100%;
    position: relative;
    float: left;
}

.card .additional .user-card .level {
    top: 15%;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.15);
    padding: 0.125rem 0.75rem;
    border-radius: 100px;
    white-space: nowrap;
}

.card .additional .user-card .points {
    top: 80%;
    color: #fff;
    left: 30px;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.15);
    padding: 0.125rem 0.75rem;
    border-radius: 100px;
    white-space: nowrap;
}

.center {
    position: absolute;
    top: 50%;
    left: 40px;

}

.card .additional .user-card svg {
    top: 70px;
    left: 20px;
}

.card .additional .user-card::after {
    content: "";
    display: block;
    position: absolute;
    top: 10%;
    right: -2px;
    height: 80%;
    border-left: 2px solid rgba(0, 0, 0, 0.025);
}

.card .additional .more-info {
    width: 300px;
    float: left;
    position: absolute;
    left: 150px;
    height: 100%;
}

.more-info .group-name {
    margin-top: 27px;
}

.more-info .base-info {
    position: relative;
    width: 210px;
    height: 105px;
    background-color: #fff;
    background: linear-gradient(#f8f8f8, #fff);
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    overflow: visible;
    position: relative;
    margin: auto;
    opacity: .6;
}

.base-info .tags {
    position: absolute;
    top: 3px;
    right: 3px;
}

.base-info .tags li {
    list-style-type: none;
    float: left;
    margin-left: 20px;
}

.base-info .tags li a {
    display: block;
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    background-color: #0089e0;
    height: 24px;
    line-height: 24px;
    padding: 0 10px 0 12px;
    position: relative;
    border-radius: 0 5px 5px 0;
}

.base-info .tags li a:hover {
    background-color: #666;
}

.base-info .tags li a:before {
    content: " ";
    width: 0px;
    height: 0px;
    position: absolute;
    top: 24px;
    left: 0;
    border: 7px solid rgba(255, 255, 255, 0);
    border-right-color: #2276ac;
    border-top-color: #2276ac;
}

.base-info .tags li a:after {
    content: " ";
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .3);
    position: absolute;
    top: 10px;
    left: 3px;
}

.base-info .captain {
    position: absolute;
    top: 20px;
    left: -34px;
}

.base-info .teacher {
    position: absolute;
    top: 60px;
    left: -34px;
}

.base-info .demand {
    position: absolute;
    top: 65px;
    left: -34px;
}

.base-info button {
    position: absolute;
    cursor: pointer;
    right: 5px;
    top: 5px;
}

.tags h5 {
    position: absolute;
    left: 110px;
    top: -5px;
}

.more-info .todo-btn {
    margin: 20px 0 20px;
}

.todo-btn .btn {
    margin: 0 0 0 13%;
    width: 30%;
}

.card .general {
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 0;
}

.general h1 {
    margin-top: 27px;
}

.card .general .more {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.9em;
}

@media (max-width:1200px) {
    .searchbar {
        height: 100px;
        left: 420px;
        position: absolute;
    }

    .main {
        display: flex;
        height: 100%;
        width: 100%;
    }

    .contain {
        width: auto;
    }

    #create-team-btn {
        position: absolute;
        left: 360px;
    }

    .teaming-room {
        width: 450px;
        margin: 10px auto 10px;
        float: initial;
    }
}

@media (max-width:850px) {
    .searchbar {
        height: 70px;
        left: 320px;
        position: absolute;
    }

    .main {
        display: flex;
        height: 100%;
        width: 100%;
    }

    .teaming-area {
        margin-left: 200px;
        width: 80%;
    }

    #create-team-btn {
        position: absolute;
        left: 260px;
    }

    .teaming-room {
        width: 450px;
        margin: 10px auto 10px;
        float: initial;
    }
}

@media (max-width:768px) {
    .shell {
        display: none;
    }

    .searchbar {
        left: 100px;
        height: 50px;
        position: absolute;
    }

    .main {
        display: flex;
        height: 100%;
        width: 100%;
        margin: 57px auto;
    }

    .main .my-area {
        margin: 0 !important;
    }

    .teaming-area {
        margin-left: 0;
    }

    #create-team-btn {
        position: absolute;
        left: 30px;
    }

    .teaming-room {
        width: 450px;
        margin: 10px auto 10px;
        float: initial;
    }

}

.main .my-area {
    display: block;
    width: 100%;
    min-height: 763px;
    margin-left: 208px;
    border-radius: 5px;
    opacity: .7;
}

.general .tags {
    position: absolute;
    top: 3px;
    right: 3px;
}

.general .tags li {
    list-style-type: none;
    float: left;
    margin-left: 20px;
}

.general .tags li a {
    display: block;
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    background-color: #0089e0;
    height: 24px;
    line-height: 24px;
    padding: 0 10px 0 12px;
    position: relative;
    border-radius: 0 5px 5px 0;
}

.general .tags li a:hover {
    background-color: #666;
}

.general .tags li a:before {
    content: " ";
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0;
    left: -24px;
    border: 12px solid transparent;
    border-right-color: #0089e0;
}

.general .tags li a:hover:before {
    border-color: transparent #666 transparent transparent;
}

.general .tags li a:after {
    content: " ";
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .3);
    position: absolute;
    top: 10px;
    left: 3px;
}

.bg-bubbles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(45deg, #1592fd, #20763600);
}

.bg-bubbles li {
    position: absolute;
    bottom: -160px;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    list-style: none;
    animation: square 15s infinite;
    transition-timing-function: linear;
}

.general-info {
    margin-bottom: 10px;
}

.general-info .general-info-t {
    padding: 24px 0 40px 24px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .04);
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .04);
}

.general-info .general-info-t .general-info-avatar {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    width: 96px;
    height: 96px;
    margin-right: 16px;
    -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, .06);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .06);
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}

.general-info .general-info-t .general-info-avatar>img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
}

.general-info .general-info-t .general-info-t-info .profile-name-info {
    margin-bottom: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.general-info .general-info-t .general-info-t-info .profile-name-info .person-name {
    color: #222226;
    font-weight: 500;
    line-height: 24px;
    font-size: 20px;
    margin-right: 16px;
}

.general-info .general-info-t .general-info-t-info .profile-identify-info.no-identify {
    background: -webkit-gradient(linear, left top, right top, from(#efefef), to(#f9f9f9));
    background: linear-gradient(90deg, #efefef, #f9f9f9);
}

.general-info .general-info-t .general-info-t-info .profile-identify-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 32px;
    background: -webkit-gradient(linear, left top, right top, from(#ffe3b2), to(#fff3de));
    background: linear-gradient(90deg, #ffe3b2, #fff3de);
    border-radius: 4px;
    padding: 0 8px;
    font-size: 14px;
}

.base-info {
    position: relative;
    width: 90%;
    background: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
    border-radius: 6px;
    margin: 0 10px 10px 24px;
}

.base-info .base-info-head {
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    font-weight: 600;
    color: #2e2e2e;
    padding-left: 16px;
    border-bottom: 1px solid #7474c4;
}

.base-info .base-info-content {
    padding: 16px;
}

.base-info .base-info-content .base-info-content-show {
    padding: 16px 112px 16px 0;
    position: relative;
}

.base-info .base-info-content .base-info-content-show ul li {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.base-info .base-info-content .base-info-content-show ul li .content-show-l {
    width: 56px;
    color: #555666;
    margin-right: 40px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-left: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.base-info .base-info-content .base-info-content-show ul li .content-show-r {
    color: #222226;
    word-break: break-all;
}

.interest-tag {
    width: 90%;
    margin-left: 24px;
    margin-right: 10px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.7);
    ;
    margin-bottom: 32px;
}

.interest-tag .interest-tag-head {
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    font-weight: 600;
    color: #2e2e2e;
    padding-left: 16px;
    border-bottom: 1px solid #7474c4;
}

.interest-tag .interest-tag-content {
    padding: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.interest-tag .interest-tag-content>ul>li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 24px;
    font-size: 14px;
}

.interest-tag .interest-tag-content>ul>li .tag-content-l {
    width: 56px;
    color: #555666;
    margin-right: 40px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-left: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.interest-tag .interest-tag-content>ul>li .tag-content-r .followed-tag-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.interest-tag .interest-tag-content>ul>li .tag-content-r .followed-tag-list li {
    margin-right: 8px;
    margin-bottom: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 28px;
    border-radius: 2px;
    line-height: 26px;
    font-size: 14px;
    border: 1px solid #e8e8ed;
    background: #fff;
    color: #555666;
    padding: 0 6px 0 8px;
    cursor: pointer;
}

.interest-tag .interest-tag-content>ul>li .tag-content-r .tag-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.interest-tag .interest-tag-content>ul>li .tag-content-r .tag-sub-list li {
    margin-bottom: 16px;
    padding: 0 7px;
    margin-left: 16px;
    cursor: pointer;
    color: #555666;
    height: 28px;
    line-height: 26px;
    border-radius: 2px;
    border: 1px solid #ccccd8;
}

.interest-tag .interest-tag-content>ul>li .tag-common-watch {
    padding: 12px 12px 0;
}

.interest-tag .interest-tag-content>ul>li .tag-content-r .tag-list li {
    cursor: pointer;
    font-weight: 500;
    line-height: 20px;
    color: #555666;
    margin-right: 16px;
    margin-bottom: 12px;
}

.interest-tag .interest-tag-content>ul>li .tag-content-border {
    border: 1px solid #5b5b96;
    border-radius: 5px;
    margin-bottom: 16px;
}

.interest-tag .interest-tag-content>ul>li .tag-content-r .tag-list .active {
    color: #222226;
    font-weight: 700;
}

.interest-tag .interest-tag-content>ul>li .tag-content-r .tag-sub-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-radius: 2px;
    padding: 14px 16px 0 0;
}

ul,
li,
ol,
dl,
dt,
dd {
    list-style: none;
}

.bubble:nth-child(1) {
    left: 10%;
}

.bubble:nth-child(2) {
    left: 20%;
    width: 90px;
    height: 90px;
    animation-delay: 2s;
    animation-duration: 7s;
}

.bubble:nth-child(3) {
    left: 25%;
    animation-delay: 4s;
}

.bubble:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-duration: 8s;
    background-color: rgba(255, 255, 255, 0.3);
}

.bubble:nth-child(5) {
    left: 70%;
}

.bubble:nth-child(6) {
    left: 80%;
    width: 120px;
    height: 120px;
    animation-delay: 3s;
    background-color: rgba(255, 255, 255, 0.2);
}

.bubble:nth-child(7) {
    left: 32%;
    width: 160px;
    height: 160px;
    animation-delay: 2s;
}

.bubble:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
    animation-duration: 15s;
}

.bubble:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    animation-delay: 2s;
    animation-duration: 12s;
    background-color: rgba(255, 255, 255, 0.3);
}

.bubble:nth-child(10) {
    left: 85%;
    width: 160px;
    height: 160px;
    animation-delay: 5s;
}

@keyframes square {
    0% {
        opacity: 0.5;
        transform: translateY(0px) rotate(45deg);
    }

    25% {
        opacity: 0.75;
        transform: translateY(-400px) rotate(90deg)
    }

    50% {
        opacity: 1;
        transform: translateY(-600px) rotate(135deg);
    }

    100% {
        opacity: 0;
        transform: translateY(-1000px) rotate(180deg);
    }
}

.mui-numbox {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 120px;
    height: 35px;
    padding: 0 40px;
    vertical-align: top;
    vertical-align: middle;
    border: solid 1px #bbb;
    border-radius: 3px;
    background-color: #efeff4;
}

.mui-numbox .mui-btn-numbox-minus,
.mui-numbox .mui-numbox-btn-minus {
    left: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.mui-numbox [class*=btn-numbox],
.mui-numbox [class*=numbox-btn] {
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 40px;
    height: 100%;
    padding: 0;
    color: #555;
    border: none;
    border-radius: 0;
    background-color: #f9f9f9;
}

.mui-btn,
button,
input[type=button],
input[type=reset],
input[type=submit] {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    padding: 6px 12px;
    cursor: pointer;
    -webkit-transition: all;
    transition: all;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #fff;
    background-clip: padding-box;
}

.mui-numbox .mui-input-numbox,
.mui-numbox .mui-numbox-input {
    display: inline-block;
    overflow: hidden;
    width: 100% !important;
    height: 100%;
    margin: 0;
    padding: 0 3px !important;
    text-align: center;
    text-overflow: ellipsis;
    word-break: normal;
    border: none !important;
    border-right: solid 1px #ccc !important;
    border-left: solid 1px #ccc !important;
    border-radius: 0 !important;
}

.mui-numbox .mui-btn-numbox-plus,
.mui-numbox .mui-numbox-btn-plus {
    right: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.mui-input-numbox::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.mui-input-numbox::-webkit-outer-spin-button {
    -webkit-appearance: none;
}