<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8" />
    <title></title>
    <script src="../static/js/vue.min.js"></script>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/mui.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/login.css" />
    <script type="text/javascript">
        $(document).ready(function () {
            $(".shell").height($(window).height() - 50);
            $(".nav-trigger").click(function () {
                $(".navbar-collapse .collapse").addClass("in");
            });
            $(window).resize(function () {
                $(".shell").height($(window).height() - 50);
            });
        });
    </script>
    <style>
        .modal-header {
            border-radius: 6px 6px 0 0;
            background: #dE685E;

        }

        .dropdown-menu {
            overflow-y: scroll;
            height: 180px;
            border-bottom: 1px solid #ad8888;
            /* transition: .4s; */
            margin-bottom: 15px !important;
        }

        .dropdown-menu .dropdown-item {
            display: block;
            padding: 5px;
            text-align: center;
            border-bottom: 1px solid #000000;
        }

        .dropdown-menu .dropdown-item img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            padding: 5px;
        }
    </style>
</head>

<body>
    <div class="body-background">

    </div>
    <ul class="bg-bubbles" id="bubbles">
        <li class="bubble"></li>
        <li class="bubble"></li>
        <li class="bubble"></li>
        <li class="bubble"></li>
        <li class="bubble"></li>
        <li class="bubble"></li>
        <li class="bubble"></li>
        <li class="bubble"></li>
        <li class="bubble"></li>
        <li class="bubble"></li>
        <li class="bubble"></li>
    </ul>
    <div class="modal fade create" id="createModal" style="width: 50%;left: 25%;">
        <div class="modal-dialog create animated" style="width: auto;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">创建团队</h4>
                </div>
                <div class="modal-body">
                    <div class="">
                        <div class="content registerBox" style="">
                            <div class="form">
                                <form method="post" action="/sign-up" enctype="multipart/form-data">
                                    <input type="text" class="form-control" name="name" value="" placeholder="竞赛名字"
                                        autofocus='' style="margin-bottom: 15px;">
                                    <input type="text" class="form-control" name="teamName" value="" placeholder="团队名字"
                                        autofocus='' style="margin-bottom: 15px;">
                                    <textarea name="content" class="form-control" placeholder="团队描述" autofocus=""
                                        cols="10" rows="5" style="margin-bottom: 15px;resize: none;"></textarea>
                                    <input type="text" class="form-control" id="pwd-input" name="pwd" value=""
                                        placeholder="密码" autofocus="" style="display: none;">
                                    <br />

                                    <h5 style="display: inline-block;">卡片颜色：</h5>
                                    <select id="color" name="color" onchange="changecolor();">
                                        <option value="#dE685E">红色</option>
                                        <option value="#00BBFF">蓝色</option>
                                        <option value="#eab38f">黄色</option>
                                    </select>
                                    <br />
                                    <h5 style="display: inline-block;">团队人数:</h5>
                                    <div class="mui-numbox" style="margin-bottom: 15px;" data-numbox-min="1">
                                        <button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
                                        <input class="mui-input-numbox" type="number" name="team-num">
                                        <button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
                                    </div>
                                    <br />
                                    <h5>标签(多个标签用‘;’分开):</h5>
                                    <input type="text" class="form-control" name="tags" style="margin-bottom: 15px;" />
                                    <input class="btn btn-register" type="submit" value="创建" name="commit">
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--顶部导航栏 start-->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapsed"
                    data-target=".navbar-collapse">
                    <span class="nav-trigger glyphicon glyphicon-align-justify" style="color: white;"></span>
                </button>
                <span class="navbar-brand">卷起来网</span>
            </div>
            <div class="navbar-collapse collapse" role="navigation" aria-expanded="false" style="height: 1px;">
                <ul class="nav navbar-nav">
                    <li><a>关于我们</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--顶部导航栏 end-->

    <!--侧方导航栏 start-->
    <div class="menubar">
        <div class="shell">
            <a href="#" class="box"><i class="fa fa-navicon"></i><span></span></a>
            <a href="index.html" class="box"><i class="fa fa-home"></i><span>首页</span></a>
            <a href="my.html" class="box"><i class="fa fa-user"></i><span>我的</span></a>
            <a href="myclass.html" class="box"><i class="fa fa-users"></i><span>团队</span></a>
            <a href="main.html" class="box"><i class="fa fa-television"></i><span>组队大厅</span></a>
            <a href="history.html" class="box"><i class="fa fa-history"></i><span>历史记录</span></a>
            <a href="message.html" class="box"><i class="fa fa-envelope"></i><span>信息</span></a>
            <a href="index.html" class="box"><i class="fa fa-sign-out"></i><span>退出</span></a>
        </div>
    </div>
    <!--侧方导航栏 end-->

    <!--主界面 start-->
    <div class="main">
        <!--新建组队按钮 start-->
        <div class="create-team">
            <div id="create-team-btn" onclick="openCreateModal();">
            </div>
        </div>
        <!--新建组队按钮 end-->

        <!--搜索框 start-->
        <div class="searchbar">
            <input type="checkbox" id="checkbox">
            <label for="checkbox"></label>
            <input type="text" class="input" id="input">
            <div class="fonts">
                <span style="--i:1">S</span>
                <span style="--i:2">e</span>
                <span style="--i:3">a</span>
                <span style="--i:4">r</span>
                <span style="--i:5">c</span>
                <span style="--i:6">h</span>
                <span style="--i:7">.</span>
                <span style="--i:8">.</span>
                <span style="--i:9">.</span>
                <span style="--i:10">.</span>
                <span style="--i:11">.</span>
                <span style="--i:12">.</span>
            </div>
        </div>
        <!--搜索框 end-->

        <br />

        <!--组队大厅区域 start-->
        <div class="teaming-area">

            <div class="contain">

                <!--组队房间 start-->
                <div class="teaming-room">
                    <div class="card">
                        <div class="additional">
                            <div class="user-card">
                                <div class="level center">
                                    Level 13
                                </div>
                                <div class="points center">
                                    5,312 Points
                                </div>
                                <svg width="110" height="110" viewBox="0 0 250 250" xmlns="https://www.w3.org/2000/svg"
                                    role="img" aria-labelledby="title desc" class="center">
                                    <title id="title"><%队伍名%></title>
                                    <desc id="desc">Cartoon of a Caucasian woman smiling, and wearing black glasses and
                                        a purple shirt with white collar drawn by Alvaro Montoro.</desc>
                                    <style>
                                        .skin {
                                            fill: #eab38f;
                                        }

                                        .eyes {
                                            fill: #1f1f1f;
                                        }

                                        .hair {
                                            fill: #2f1b0d;
                                        }

                                        .line {
                                            fill: none;
                                            stroke: #2f1b0d;
                                            stroke-width: 2px;
                                        }
                                    </style>
                                    <defs>
                                        <clipPath id="scene">
                                            <circle cx="125" cy="125" r="115"></circle>
                                        </clipPath>
                                        <clipPath id="lips">
                                            <path
                                                d="M 106,132 C 113,127 125,128 125,132 125,128 137,127 144,132 141,142  134,146  125,146  116,146 109,142 106,132 Z">
                                            </path>
                                        </clipPath>
                                    </defs>
                                    <circle cx="125" cy="125" r="120" fill="rgba(0,0,0,0.15)"></circle>
                                    <g stroke="none" stroke-width="0" clip-path="url(#scene)">
                                        <rect x="0" y="0" width="250" height="250" fill="#b0d2e5"></rect>
                                        <g id="head">
                                            <path fill="none" stroke="#111111" stroke-width="2" d="M 68,103 83,103.5">
                                            </path>
                                            <path class="hair"
                                                d="M 67,90 67,169 78,164 89,169 100,164 112,169 125,164 138,169 150,164 161,169 172,164 183,169 183,90 Z">
                                            </path>
                                            <circle cx="125" cy="100" r="55" class="skin"></circle>
                                            <ellipse cx="102" cy="107" rx="5" ry="5" class="eyes" id="eye-left">
                                            </ellipse>
                                            <ellipse cx="148" cy="107" rx="5" ry="5" class="eyes" id="eye-right">
                                            </ellipse>
                                            <rect x="119" y="140" width="12" height="40" class="skin"></rect>
                                            <path class="line eyebrow" d="M 90,98 C 93,90 103,89 110,94"
                                                id="eyebrow-left"></path>
                                            <path class="line eyebrow" d="M 160,98 C 157,90 147,89 140,94"
                                                id="eyebrow-right"></path>
                                            <path stroke="#111111" stroke-width="4" d="M 68,103 83,102.5"></path>
                                            <path stroke="#111111" stroke-width="4" d="M 182,103 167,102.5"></path>
                                            <path stroke="#050505" stroke-width="3" fill="none"
                                                d="M 119,102 C 123,99 127,99 131,102"></path>
                                            <path fill="#050505" d="M 92,97 C 85,97 79,98 80,101 81,104 84,104 85,102">
                                            </path>
                                            <path fill="#050505"
                                                d="M 158,97 C 165,97 171,98 170,101 169,104 166,104 165,102"></path>
                                            <path stroke="#050505" stroke-width="3" fill="rgba(240,240,255,0.4)"
                                                d="M 119,102 C 118,111 115,119 98,117 85,115 84,108 84,104 84,97 94,96 105,97 112,98 117,98 119,102 Z">
                                            </path>
                                            <path stroke="#050505" stroke-width="3" fill="rgba(240,240,255,0.4)"
                                                d="M 131,102 C 132,111 135,119 152,117 165,115 166,108 166,104 166,97 156,96 145,97 138,98 133,98 131,102 Z">
                                            </path>
                                            <path class="hair"
                                                d="M 60,109 C 59,39 118,40 129,40 139,40 187,43 189,99 135,98 115,67 115,67 115,67 108,90 80,109 86,101 91,92 92,87 85,99 65,108 60,109">
                                            </path>
                                            <path id="mouth" fill="#d73e3e"
                                                d="M 106,132 C 113,127 125,128 125,132 125,128 137,127 144,132 141,142  134,146  125,146  116,146 109,142 106,132 Z">
                                            </path>
                                            <path id="smile" fill="white"
                                                d="M125,141 C 140,141 143,132 143,132 143,132 125,133 125,133 125,133 106.5,132 106.5,132 106.5,132 110,141 125,141 Z"
                                                clip-path="url(#lips)"></path>
                                        </g>
                                        <g id="shirt">
                                            <path fill="#8665c2"
                                                d="M 132,170 C 146,170 154,200 154,200 154,200 158,250 158,250 158,250 92,250 92,250 92,250 96,200 96,200 96,200 104,170 118,170 118,170 125,172 125,172 125,172 132,170 132,170 Z">
                                            </path>
                                            <path id="arm-left" class="arm" stroke="#8665c2" fill="none"
                                                stroke-width="14" d="M 118,178 C 94,179 66,220 65,254"></path>
                                            <path id="arm-right" class="arm" stroke="#8665c2" fill="none"
                                                stroke-width="14" d="M 132,178 C 156,179 184,220 185,254"></path>
                                            <path fill="white"
                                                d="M 117,166 C 117,166 125,172 125,172 125,182 115,182 109,170 Z">
                                            </path>
                                            <path fill="white"
                                                d="M 133,166 C 133,166 125,172 125,172 125,182 135,182 141,170 Z">
                                            </path>
                                            <circle cx="125" cy="188" r="4" fill="#5a487b"></circle>
                                            <circle cx="125" cy="202" r="4" fill="#5a487b"></circle>
                                            <circle cx="125" cy="216" r="4" fill="#5a487b"></circle>
                                            <circle cx="125" cy="230" r="4" fill="#5a487b"></circle>
                                            <circle cx="125" cy="244" r="4" fill="#5a487b"></circle>
                                            <path stroke="#daa37f" stroke-width="1" class="skin hand" id="hand-left"
                                                d="M 51,270 C 46,263 60,243 63,246 65,247 66,248 61,255 72,243 76,238 79,240 82,243 72,254 69,257 72,254 82,241 86,244 89,247 75,261 73,263 77,258 84,251 86,253 89,256 70,287 59,278">
                                            </path>
                                            <path stroke="#daa37f" stroke-width="1" class="skin hand" id="hand-right"
                                                d="M 199,270 C 204,263 190,243 187,246 185,247 184,248 189,255 178,243 174,238 171,240 168,243 178,254 181,257 178,254 168,241 164,244 161,247 175,261 177,263 173,258 166,251 164,253 161,256 180,287 191,278">
                                            </path>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="more-info">
                                <!--队伍名-->
                                <div class="group-name">
                                    <h1>这个队伍不太冷</h1>
                                </div>
                                <div class="base-info">
                                    <ul class="tags captain">
                                        <li>
                                            <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;队长：</a>
                                        </li>
                                        <h5>况宇</h5>
                                    </ul>
                                    <ul class="tags teacher">
                                        <li>
                                            <a>指导老师：</a>
                                        </li>
                                        <h5>刘明承</h5>
                                    </ul>
                                    <ul class="tags demand">
                                        <li>
                                            <a>招募要求：</a>
                                        </li>
                                        <h5>鱼粉优先</h5>
                                    </ul>
                                </div>
                                <!--查看与申请按钮-->
                                <div class="todo-btn">
                                    <div class="dropup" style="display: inline;">
                                        <button class="btn btn-info check-btn dropdown-toggle" data-toggle="dropdown"
                                            id="check1">
                                            <i class="fa fa-user"></i>查看(1/5)
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#"><img
                                                    src="../static/img/student.png">成员</a>
                                            <a class="dropdown-item" href="#"><img
                                                    src="../static/img/student.png">成员</a>
                                            <a class="dropdown-item" href="#"><img
                                                    src="../static/img/student.png">成员</a>
                                            <a class="dropdown-item" href="#"><img
                                                    src="../static/img/student.png">成员</a>
                                            <a class="dropdown-item" href="#"><img
                                                    src="../static/img/student.png">成员</a>
                                            <a class="dropdown-item" href="#"><img
                                                    src="../static/img/student.png">成员</a>
                                            <a class="dropdown-item" href="#"><img
                                                    src="../static/img/student.png">成员</a>
                                            <a class="dropdown-item" href="#"><img
                                                    src="../static/img/student.png">成员</a>
                                            <a class="dropdown-item" href="#"><img
                                                    src="../static/img/student.png">成员</a>
                                            <a class="dropdown-item" href="#"><img
                                                    src="../static/img/student.png">成员</a>
                                            <a class="dropdown-item" href="#"><img
                                                    src="../static/img/student.png">成员</a>
                                        </div>
                                    </div>
                                    <button class="btn btn-info join-btn" id="join1">
                                        申请加入
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div>

                        </div>
                        <div class="general">
                            <!--竞赛/班级名-->
                            <h1>创新杯</h1>
                            <p>&nbsp;&nbsp;微软“创新杯”全球学生大赛是目前全球规模最大、影响最广的学生科技大赛。
                                <br />
                                &nbsp;&nbsp;现缺一名精通python语言的码手和一名商业模型分析员。
                            </p>
                            <!--标签-->
                            <ul class="tags">
                                <li>
                                    <a>江苏省</a>
                                </li>
                                <li>
                                    <a>南京理工大学</a>
                                </li>
                            </ul>
                            <span class="more">悬浮以查看更多</span>
                        </div>
                    </div>
                </div>
                <!--组队房间 end-->

            </div>

        </div>
        <!--组队大厅区域 end-->
    </div>
    <!--主界面 end-->

</body>

</html>