<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>模板</title>
</head>
<body>
<!--班级卡片-->
    <li class="mb-3 d-flex flex-content-stretch col-12 col-md-6 col-lg-6" th:fragment="class(obj)">
        <div class="Box pinned-item-list-item d-flex p-3 width-full public fork">
            <div class="pinned-item-list-item-content">
                <div class="d-flex width-full flex-items-center position-relative">
                    <a th:href="@{'/class/'+${obj.class.id}}" class="text-bold flex-auto min-width-0">
                        <span class="repo" th:title="${obj.class.name}" th:text="${obj.class.name}"/>
                    </a>
                    <span class="Label Label--secondary v-align-middle ">校内班</span>
                </div>

                <p class="color-text-secondary text-small mb-2">
                    指导老师
                    <a class="Link--muted" th:href="@{'/'+${obj.teacherNo}+'/index'}" th:text="${obj.teacherName}"></a>
                </p>

                <p class="pinned-item-desc color-text-secondary text-small d-block mt-2 mb-3"></p>
                <p class="mb-0 f6 color-text-secondary">
                    <span class="d-inline-block mr-3"></span>
                </p>
            </div>
        </div>
    </li>
<!--团队卡片-->
    <li class="mb-3 d-flex flex-content-stretch col-12 col-md-6 col-lg-6" th:fragment="team(obj)">
        <div class="Box pinned-item-list-item d-flex p-3 width-full public fork" >
            <div class="pinned-item-list-item-content">
                <div class="d-flex width-full flex-items-center position-relative">
                    <a th:href="@{'/team/'+${obj.team.teamId}}" class="text-bold flex-auto min-width-0">
                        <span class="repo" th:title="${obj.team.name}" th:text="${obj.team.name}"></span>
                    </a>
                    <span class="Label Label--secondary v-align-middle "th:text="${obj.position}"></span>
                </div>

                <p class="color-text-secondary text-small mb-2">
                    队长 <a class="Link--muted" th:href="@{'/'+${obj.leaderNo}+'/index'}" th:text="${obj.leaderUser}"></a>
                </p>
                <p class="pinned-item-desc color-text-secondary text-small d-block mt-2 mb-3"></p>
                <button th:id="'btn_'+${obj.team.teamId}" class="manage-btn" th:if="${obj.position == '队长' and obj.team.dissolveTime==null}" onclick="dissolveTeam(this)">解散</button>
                <button class="manage-btn" th:if="${obj.team.dissolveTime != null}">已解散</button>
                <p class="mb-0 f6 color-text-secondary">
                    <span class="d-inline-block mr-3"></span>
                </p>
            </div>
        </div>
    </li>
<!--单个房间卡片-->
<li class="mb-3 d-flex flex-content-stretch col-12 col-md-6 col-lg-6" th:fragment="room(obj,user)">
    <div class="Box pinned-item-list-item d-flex p-3 width-full public fork">
        <div class="pinned-item-list-item-content">
            <div class="d-flex width-full flex-items-center position-relative">
                <a th:href="'/room/'+${obj.room.id}" class="text-bold flex-auto min-width-0">
                    <span class="repo" th:text="${obj.room.teamName}"></span>
                </a>
                <span class="Label Label--secondary v-align-middle " th:text="${obj.room.user==user.user?'队长':'队员'}"></span>
            </div>

            <p class="color-text-secondary text-small mb-2">
                队长 <a class="Link--muted" th:text="${obj.room.user}"></a>
            </p>
            <p class="pinned-item-desc color-text-secondary text-small d-block mt-2 mb-3">
            </p>
            <p class="mb-0 f6 color-text-secondary">
                <span class="d-inline-block mr-3"></span>
            </p>
        </div>
    </div>
</li>
<!--任务卡片-->
<li class="mb-3 d-flex flex-content-stretch col-12 col-md-6 col-lg-6" th:fragment="mission(obj)">
    <div class="Box pinned-item-list-item d-flex p-3 width-full public fork" >
        <div class="pinned-item-list-item-content">
            <div class="d-flex width-full flex-items-center position-relative">
                <a th:href="@{'/class/'+${obj.classId}}" class="text-bold flex-auto min-width-0">
                    <span class="repo" th:title="${obj.className}" th:text="${obj.className}"></span>
                </a>
            </div>

            <p class="color-text-secondary text-small mb-2">
                指导老师 <a class="Link--muted" th:href="@{'/'+${obj.teacherNo}+'/index'}" th:text="${obj.teacherName}"></a>
            </p>
            <p class="pinned-item-desc color-text-secondary text-small d-block mt-2 mb-3"></p>
            <p class="mb-0 f6 color-text-secondary">
                <span class="d-inline-block mr-3"></span>
            </p>
        </div>
    </div>
</li>
<!--顶部导航栏 start-->
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="navbar(obj)">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapsed" data-target=".navbar-collapse">
                <span class="nav-trigger glyphicon glyphicon-align-justify" style="color: white;"></span>
            </button>
            <span class="navbar-brand">JAVA课设</span>
        </div>
        <div class="navbar-collapse collapse" role="navigation" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li><a>关于我们</a></li>
            </ul>
        </div>
        <!--用户头像-->
        <div class="user-info">
            <img th:src="@{${obj.headshot}}" th:if="${obj!=null}"/>
            <a class="username" th:if="${obj!=null}" th:text="${obj.user}" th:href="@{'/'+${obj.no}+'/index'}"/>
            <a th:if="${obj==null}" href="/">现在登录</a>&nbsp;&nbsp;<a th:if="${obj==null}" href="/">现在注册</a>
        </div>
    </div>
</div>
<!--顶部导航栏 end-->
<!--侧方导航栏 start-->
<div class="menubar" th:fragment="menubar(obj)">
    <div class="shell" th:if="${obj!=null}">
        <a href="#" class="box"><i class="fa fa-navicon"></i><span></span></a>
        <a href="index.html" class="box"><i class="fa fa-home"></i><span>首页</span></a>
        <a th:href="@{'/'+${obj.no}+'/index'}" class="box"><i class="fa fa-user"></i><span>我的</span></a>
        <a th:href="@{'/'+${obj.no}+'/room'}" class="box"><i class="fa fa-users"></i><span>团体</span></a>
        <a th:href="@{/rooms/public}" class="box"><i class="fa fa-television"></i><span>组队大厅</span></a>
        <a th:href="@{'/'+${obj.no}+'/team'}" class="box"><i class="fa fa-history"></i><span>组队记录</span></a>
        <a th:href="@{'/'+${obj.no}+'/message'}" class="box"><i class="fa fa-envelope"></i><span>信息</span></a>
        <a href="/loginOut" class="box"><i class="fa fa-sign-out"></i><span>退出</span></a>
    </div>
</div>
<!--侧方导航栏 end-->

<!--“我的团体”-->
<ul class="zla_m_tab" id="zla_title" th:fragment="group(obj,type)">
    <li th:class="'zla_m_item'+(${type==1}?' zla_m_cur':'')"><a th:href="@{'/'+${obj.no}+'/room'}">我的房间</a></li>
    <li th:class="'zla_m_item'+(${type==2}?' zla_m_cur':'')"><a th:href="@{'/'+${obj.no}+'/class'}">我的班级</a></li>
    <li th:class="'zla_m_item'+(${type==3}?' zla_m_cur':'')"><a th:href="@{'/'+${obj.no}+'/mission'}">我的任务</a></li>
    <li th:class="'zla_m_item'+(${type==4}?' zla_m_cur':'')"><a th:href="@{'/'+${obj.no}+'/team'}">我的团队</a></li>
</ul>

</body>
</html>